body {
    padding: 0.5em;
    text-align: center;
}

button {
    border-radius: 0.3em;
    cursor: pointer;
    padding: 1em;
}

h1 {
    cursor: pointer;
    text-decoration: none;
}

/* index.hbs */
.playlist-list {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.playlist-list button {
    margin: 0.5em 0;
    width: 50%;
}

/* playlist.hbs */
.playlist-header,
.playlist-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.playlist-header span,
.playlist-row span {
    flex-grow: 1;
    padding: 0.5em;
    width: 25%;
}

.playlist-header {
    margin-bottom: 1em;
}

.playlist-header span {
    border-bottom: 1px solid black;
    font-weight: bold;
}

.track-img {
    text-align: right;
    margin-right: 1em;
}
