<h4>Note: This is not the same page as the playlist list import! This is for importing tracks.</h4>

<p>Step 1: <a href="https://plug.dj/_/playlists/{{model.id}}/media" target="_blank">Click this link</a> to view the track data from Plug API</p>
<p>Step 2: Click "Raw" (instead of "Parsed", if given these options) and copy the content of that link into the text box below, then click the "Submit Tracks" button</p>

<h4>Note: It may take some time to import all the tracks, especially if they are coming from SoundCloud. Please be patient and click submit only once.</h4>

<button {{action 'submit' tracks}}>Submit Tracks</button>

{{content-editable
class='trackInput'
placeholder='Paste Track JSON Here'
type='text'
value=tracks}}

<button {{action 'submit' tracks}}>Submit Tracks</button>