<p>Step 1: <a href="https://plug.dj/_/playlists/{{model.id}}/media" target="_blank">Click this link</a> to view the track data from Plug API</p>
<p>Step 2: Click "Raw" (instead of "Parsed", if given these options) and copy the content of that link into the text box below, then click the "Submit Tracks" button</p>

<button {{action 'submit' tracks}}>Submit Tracks</button>

{{content-editable
class='trackInput'
placeholder='Paste Track JSON Here'
type='text'
value=tracks}}

<button {{action 'submit' tracks}}>Submit Tracks</button>