<p>
    Want to extract your own playlists from Plug?
    {{#link-to 'me'}}
        Click Here!
    {{/link-to}}
</p>

<h2>Choose A Playlist</h2>

<div class="playlist-list">
    {{#each playlists as |playlist|}}
        <button {{action 'select' playlist.id}}>{{playlist.name}}</button>
    {{/each}}
</div>