<div class="playlist">
    <table>
        <tr>
            <th></th>
            <th>Artist</th>
            <th>Title</th>
        </tr>
        {{#each model as |track|}}
            <tr>
                <td><img src="{{track.image}}"/></td>
                <td>{{track.author}}</td>
                <td>{{track.title}}</td>
            </tr>
        {{/each}}
    </table>
</div>