<div class="playlist">
    <div class="playlist-header">
        <span>Track Image</span>
        <span>Artist</span>
        <span>Title</span>
        <span>Link</span>
    </div>
    {{#each tracks as |track|}}
        <div class="playlist-row">
            <span class="track-img"><img src="{{track.image}}"/></span>
            <span>{{track.author}}</span>
            <span>{{track.title}}</span>
            <span>
                {{#if (eq track.format 1)}}
                    {{#link-to 'youtube' track.cid}}<button>Listen</button>{{/link-to}}
                {{else}}
                    {{#link-to 'soundcloud' track.cid}}<button>Listen</button>{{/link-to}}
                {{/if}}
            </span>
        </div>
    {{/each}}
</div>